@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
html,
body {
  font-family: 'Titillium Web', sans-serif;
  text-align: center;
  
}

* {
  margin: 0;
  padding: 0;
/*   border: 5px solid; */
}
.banner{
/*   top: 0; */
  background: beige;
  min-height: 30vh;
  padding-top: 20vh;
  width: 100%;
  height: 10px;
  background-image: url("https://images.pexels.com/photos/6357/coffee-cup-desk-pen.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") ;
  background-repeat: repeat no-repeat ;
  padding-bottom: 15vh;
  background-size: cover ;
  font-family:'Anonymous Pro', monospace; 
/*   text-shadow: 3px 2px white; */
  text-align: center; 
  font-size: 25px;
  font-weigth: bold;
/*    text-shadow: 2px 2px white; */
  
  
/*   white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);  */
/*   background-position: center; */
  
/*   opacity : 0.9; */
  /*   line-height: 100vh; */
  /*   width:100%;
  height:96vh;
border:solid; */
/*   border: 1px solid; */

}


.intro {
  top: 0;
  background: #e0ebe8;
  min-height: 30vh;
  padding-top: 5vh;
  /*   line-height: 100vh; */
  /*   width:100%;
  height:96vh;
border:solid; */
/*   border: 1px solid; */
  padding-bottom: 15vh;
}
.intro h1 {
  font-family: 'Pacifico', cursive;
/*   padding-bottom: 5px; */
  padding-top: 5px;
}
.intro p {
  color: black;
  padding-bottom: 10px;
 font-family: 'Pacifico', cursive;
}
.bio{
  ext-decoration: none;
  color: black;
  display: inline-block;
/*   overflow: auto; */
/*   border: 2px solid lightblue; */
  height: 300px;
  width: 500px;
  margin: 20px 90px;
  text-align: justify;
  font-size: 120%;
  
}
.bio-video{
  display: inline-block;
/*   overflow: hidden; */
/*   border: 2px solid lightblue; */
  height: 300px;
  width: 560px;
/*   margin: 40px 100px; */
/*   text-align: justify;
  font-size: 120%; */
  padding-bottom: 10px;
  
  
}

nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #e0ebe8;
  letter-spacing: 2px;
  word-spacing: 10px;
  background-color:Beige ;
  
}

nav ul li {
  display: inline-block;
  margin: 55px;
  margin-bottom: 15px;
  margin-top: 25px;
  font-family:'Titillium Web', sans-serif;
  word-spacing: 2em;
  
}

nav ul li a {
  color: #008080;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
  word-spacing: 1cm;
}

nav ul li a:hover {
  color: green;
  font-family:'Titillium Web', sans-serif;
  word-spacing: 1cm;
}

.work {
  padding-top: 50px;
  margin-top: -50px;
   background-image: url("https://images.pexels.com/photos/942872/pexels-photo-942872.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size :contain ;
  background-position: center;
/*   border: 1px solid; */
  overflow: hidden;
}

.work .work-header {
  margin-top: 80px;
  color:  black;
  font-weight: normal;
  font-family: 'Titillium Web', sans-serif;
}

.project {
  text-decoration: none;
  color: #008080;
  display: inline-block;
  overflow: hidden;
/*   border: 2px solid lightblue; */
  height: 220px;
  width: 280px;
  margin: 30px 100px;
  /*   background: url("https://res.cloudinary.com/dck40m3wf/image/upload/v1455459914/Portfolio/fancy-floral-pattern-384.jpg") repeat; */
}

.project-pic {
  width: 100%;
  height: 170px;
  border-bottom: 2px solid ;
/*   border: 1px solid; */
}

.project-title {
  font-weight: bold;
  font-family: 'Anonymous Pro', monospace; 
  font-color: black;
}



@media only screen and (max-width: 500px) {
  nav ul {
    text-align: center;
  }
  nav ul li {
    margin: 20px;
  }
  .project {
    margin: 40px 0;
  }
}

.contact {
  /*   height:800px; */
  /*   min-height:800px; */
  background: #C8F7C5;
  padding-bottom: 80px;
/*   border: 1px solid; */
  font-family:'Anonymous Pro', monospace;
}

.header {
  padding: 20px 20px 20px;
  font-family: ''Quicksand', sans-serif;
/*   border: 1px solid; */
}

.contact-details {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #90C695;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #e0ebe8;
  color: #008080;
  text-decoration: none;
  font-size: 30px;
  text-align: center;
}

.contact-details:hover {
  background: #E4F1FE;
  color: green;
}


.guestbook{
  top: 0;
  background: beige;
  min-height: 30vh;
  padding-top: 5vh;
  width: 100%;
  height: 500px;
/*   border: 1px solid; */
  display: block;
  overflow: auto;


}
.guestbook-box{
  width: 30%;
  height: 50px;
/*   border: 1px solid ; */
  margin-left:auto;
  margin-right:auto;
  display: block;
/*   overflow: auto; */
  font-family: 'Anonymous Pro', monospace;
  padding-top: 1vh;
  padding-bottom: 6vh;
  font-family:'Pacifico', cursive;

}
.fb-comments{
   overflow: auto;
   margin-left:auto;
   margin-right:auto;
    height: 300px;
}

overflow: auto;
footer {
  padding: 10px;
  
  background: #22313F;
  color: white;
/*   line-height: 25px; */
  font-family: 'Titillium Web', sans-serif;
}

footer a {
  color: white;
}
footer p {
/*   padding: 1rem; */
/*   position: absolute;  */
   margin-left: auto;
   margin-right: auto;
   line-height: 1.5;
   font-size : 15px;
   font-family:'Anonymous Pro', monospace; 
  
}

@media only screen and (max-width: 367px) {
  /*    #contact{
    min-height:1100px;
  } */
  .contact-details {
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}
.nav-date {
    float: right;
}
